:root {
    --b-0: rgba(255, 255, 255, 1);
    --paragraph: rgba(123, 129, 140, 1);
}
body {
    font-family: 'Arial', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}


.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 550px;
}

.input-message {
    align-items: center;
    background-color: var(--b-0);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 16px 24px;
    border: black 1px solid;
}

.input-message .input-message-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-message .type-message {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 95%;
}

.input-message .text-wrapper {
    color: var(--paragraph);
    font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    width: 95%;
}

.input-message .option-frame {
    align-items: center;
    display: flex;
    gap: 16px;
}

.input-message .fomat-mess {
    align-items: center;
    display: flex;
    gap: 12px;
}

.send-btn{
    border-radius: 50%;
    border: 3px white solid;
}
.send-btn:hover{
    border-radius: 50%;
    border: 3px #6d64ed solid;
}

.input-message-container {
    padding: 10px 0;

}

.message {
    padding: 8px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;

}

.chatbox-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 550px;
    border: black 1px solid;
    border-radius: 2px;

}

.chatbox{
    display: flex;
    flex-direction: column;
}

.option-frame .send-btn img {
    width: 20px;
    height: 20px;
}

.user-list {
    height: 100%;
    overflow-y: auto;
    max-height: 550px;
}
.user-list .card-body{
    overflow-y: auto;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #666;
}

.message-author {
    font-weight: bold;
    color: black;
}

.message-timestamp {
    font-style: italic;
    color: rgba(238, 238, 238, 0.44);
}

.message-content {
    margin-top: 5px;
}

.input-message {
    margin-top: 10px;
}
.list-group-item.active {
    background-color: #007bff;
    color: white;
}


.message.my-message {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    max-width: 70%;
}

.message.other-message {
    align-self: flex-start;
    background-color: #e9e9e9;
    color: #000;
    max-width: 70%;
}
.user-list .card-header {
    background-color: #f8f9fa;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.user-list .card-header .input-group {
    max-width: 500px;
}

.user-list .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.user-list .list-group-item:hover {
    background-color: #e9ecef;
}

.user-list .list-group-item.active{
    background-color: #e9ecef;
    color: #282c34;
}

.user-list .fa-user-circle {
    color: #6c757d;
}

.user-list .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.message-info {
    font-size: 0.8em;
    color: #888;
}

.message-content-container {
    display: flex;
    flex-direction: column;
}

.message-sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-time {
    font-style: italic;
    color: #888;
}

.message-info.my-message {
    text-align: right;
}

.message-info.other-message {
    text-align: left;
}

.message-box .other-message {
    flex-direction: row;
}

.message-box .my-message {
    flex-direction: column;
    align-items: flex-end;
}

.emoji-picker-react {
    position: absolute;
    bottom: 100px; /* Điều chỉnh khoảng cách từ dưới cùng của cửa sổ */
    right: 20px; /* Điều chỉnh khoảng cách từ phải của cửa sổ */
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    width: 350px; /* Đặt kích thước cố định cho picker */
    max-width: 100%; /* Đảm bảo picker không vượt quá chiều rộng cửa sổ */
}

.emoji-picker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.emoji-picker-dialog {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


