:root {
    --b-0: rgba(255, 255, 255, 1);
    --paragraph: rgba(123, 129, 140, 1);
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 550px;
}

.input-message {
    align-items: center;
    background-color: var(--b-0);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 16px 24px;
    border: black 1px solid;
}

.input-message .input-message-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-message .type-message {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 95%;
}

.input-message .text-wrapper {
    color: var(--paragraph);
    font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    width: 95%;
}

.input-message .option-frame {
    align-items: center;
    display: flex;
    gap: 16px;
}

.input-message .fomat-mess {
    align-items: center;
    display: flex;
    gap: 12px;
}

.send-btn{
    border-radius: 50%;
    border: 3px white solid;
}
.send-btn:hover{
    border-radius: 50%;
    border: 3px #6d64ed solid;
}

.input-message-container {
    padding: 10px 0;

}

.message {
    padding: 8px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.message-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    
}


.chatbox-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 550px;
    border: black 1px solid;
    border-radius: 2px;
    
}

.chatbox{
    display: flex;
    flex-direction: column;
}

.option-frame .send-btn img {
    width: 20px;
    height: 20px;
}

.user-list {
    height: 100%;
    overflow-y: auto;
    max-height: 550px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #666;
}

.message-author {
    font-weight: bold;
    color: white;
}

.message-timestamp {
    font-style: italic;
    color: #eeeeee;
}

.message-content {
    margin-top: 5px;
}

.input-message {
    margin-top: 10px;
}
.list-group-item.active {
    background-color: #007bff;
    color: white;
}


.message.my-message {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    max-width: 70%;
}

.message.other-message {
    align-self: flex-start;
    background-color: #4c4c4c;
    color: white;
    max-width: 70%;
}
